@if o-website-value('footer-template') == 'alan_footer9' {
    #footer {
        .footer-title {
            margin: 0 0 20px;
            position: relative;
            h5 {
                margin: 0;
                text-transform: uppercase;
                font-size: 1rem;
            }
        }


        .footer-link {
            li {
                + li {
                    padding-top: 10px; 
                }
            }
            a {
                font-size: 1em;
                position: relative;
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: auto;
                    height: 1px;
                    width: 0;
                    background-color: currentColor;
                    transition: ease all 0.35s;
                    opacity: 0;
                }
                &:hover {
                    &:after {
                        opacity: 1;
                        width: 100%;
                        left: auto;
                        right: 0;
                    }
                }
            }
        }

        .footer-address {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 1px;
                pointer-events: none;
                background: currentColor;
                opacity: 0.1;
            }
            .f-box {
                display: flex;
                align-items: center;
                .f-icon {
                    max-width: 55px;
                    height: 55px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    flex: 0 0 55px;
                    border-radius: 50%;
                    font-size: 1.45rem;
                    background-color: rgba(var(--as-footer-color), 0.1);
                    color: rgba(var(--as-footer-color), 1);
                }
                .f-text {
                    flex: 1 0 0%;
                    padding-left: 15px;
                    margin: 0;
                    font-size: 1rem;
                }
            }
        }
    }
}