$-footer-color: o-color('footer-custom') or o-color('footer') or rgba(0, 0, 0, 0);

@if ($-footer-color and color-contrast($-footer-color) !=$color-contrast-dark) {
    :root {
        --as-footer-color: 255, 255, 255;
    }
}


@if ($-footer-color and color-contrast($-footer-color) !=$color-contrast-light) {
    :root {
        --as-footer-color: 0, 0, 0;
    }
}








@if o-website-value('footer-template')=='alan_footer1',
'alan_footer2',
'alan_footer3',
'alan_footer4',
'alan_footer5',
'alan_footer6',
'alan_footer7',
'alan_footer8',
'alan_footer9',
'alan_footer10',
'alan_footer11',
'alan_footer12',
'alan_footer13',
'alan_footer14' {
    .o_footer {
        @include o-apply-colors('footer');
        @include o-apply-colors('footer-custom');
        @include o-add-gradient('footer-gradient');

        a:not(.btn) {
            text-decoration: none;
            color: rgba(var(--as-footer-color), 0.8);

            &:hover {
                color: rgba(var(--as-footer-color), 1);
            }
        }
        .o_footer_copyright {
            a:not(.btn):hover { 
                color: rgba(var(--as-footer-color), 0.8);
            }
        }

        .footer-title {
            h5 {
                color: rgba(var(--as-footer-color), 1);
            }
        }
    }


    .o_footer_copyright {
        position: relative;
        font-size: 0.85rem;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            pointer-events: none;
            background: currentColor;
            opacity: 0.1;
        }

        .o_footer_copyright_name {
            color: rgba(var(--as-footer-color), 0.8);
        }

        .text-sm-end {
            &.o_not_editable {
                display: none;
            }
        }

        .o_brand_promotion {
            display: none;
        }

        .o_footer_copyright_name {
            font-size: 14px;
        }

        .row>div {
            display: flex;
            align-items: center;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                justify-content: center;
                .js_language_selector  {
                    width: 100%;
                }
            }
        }

        .js_language_selector {
            margin-left: auto;
            .dropdown-menu{
                .js_change_lang {
                    img{
                        min-width: 16px;
                    }
                }
            }
            .btn {
                background: none;
                color: rgba(var(--as-footer-color), 0.8);
            }
        }
    }



}
