@if o-website-value('footer-template')=='alan_footer13' {
    .o_footer {
        .footer-top {
            padding-top: 40px;
            padding-bottom: 40px;
            font-size: 14px;
            border-top: 1px solid rgba(var(--as-footer-color), 0.1);
            border-bottom: 1px solid rgba(var(--as-footer-color), 0.1);

            @include media-breakpoint-down(lg) {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .row {
                overflow: hidden;

                [class*="col-lg-"] {
                    box-shadow: 1px 1px rgba(var(--as-footer-color), 0.1);

                    @include media-breakpoint-down(lg) {
                        padding: 30px;
                    }

                    @include media-breakpoint-down(sm) {
                        padding: 30px 15px;
                    }
                }
            }
        }

        .footer-title {
            padding: 0 0 20px;

            h5 {
                font-size: 16px;
                letter-spacing: 1px;
                color: rgba(var(--as-footer-color), 1);
                margin: 0;
                text-transform: uppercase;
            }
        }

        .footer-link {
            li {
                +li {
                    padding-top: 8px;
                }
            }

            a {
                font-size: 15px;
                color: rgba(var(--as-footer-color), 1);
                text-decoration: none;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    bottom: 0;
                    opacity: 0;
                    height: 1px;
                    background-color: currentColor;
                    opacity: 0;
                    transition: ease all 0.35s;
                }

                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        .footer-middle {
            padding-top: 25px;
            padding-bottom: 25px;

            .footer-social-icons {
                display: flex;
                justify-content: center;
            }

            .s_social_media {
                a {
                    width: 40px;
                    height: 40px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    background-color: rgba(var(--as-footer-color), 0.1);
                    color: rgba(var(--as-footer-color), 1);

                    &:hover {
                        background-color: $primary;
                        color: $white;
                    }

                }
            }
        }

        .footer-newsletter {
            .s_newsletter_subscribe_form {
                .js_subscribe_value {
                    border-radius: 0;
                }

                .btn {
                    border-radius: 0;
                }
            }
        }

    }
}