@if o-website-value('header-template') == 'as_header2' {

 header {
        .as-mobile-header {
            @include o-apply-colors('menu');
            @include o-apply-colors('menu-custom');
            @include o-add-gradient('menu-secondary-gradient');
            .as-mob-header-wrap {
                .hm-icon {
                    color: var(--as-menu-color); 
                }
           
            }
            
        }
    }

    .header-top {
        border-bottom: 1px solid rgba(var(--as-header-color-rgb), 0.1) !important;
        .ht-top-end,
        .ht-top-start {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 20px;
            align-items: center;
        }
       
    
    }
 
    .header-middle {
        padding-top: 20px;
        padding-bottom: 20px;
        .mh-end {
            a {
                text-decoration: none;
                color: inherit !important;
            }
        }

        .as-h-search-form {
            .oe_search_box {
                background: none !important;
                border: 1px solid rgba(var(--as-menu-color-rgb), 0.1) !important;
                color: var(--as-menu-color);
                border-radius: 0;
            }
            .oe_search_button {
                padding: 0 15px;
                height: 50px;
                border: 1px solid rgba(var(--as-menu-color-rgb), 0.1);
                border-left: none;
                border-radius: 0;
                color: var(--as-menu-color);
                background: none !important;
                box-shadow: none;
                outline: none;
            }
        }

        .hm-icon {
            width: 50px;
            height: 50px;
            background: none;
            border: 1px solid rgba(var(--as-menu-color-rgb), 0.1);
            color: var(--as-menu-color);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 20px;
            border-radius: 0;
            .fa-stack {
                width: auto;
                height: auto;
                line-height: normal;
            }
            .h-sup {
                position: absolute;
                top: -4px;
                right: -4px;
                font-size: 10px;
                padding: 0;
                border-radius: 50px;
                min-width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .as-h-user {
            font-size: 0px;
            &:before {
                font-size: 20px;
                color: var(--as-menu-color);
            }
        }
    }

    .header-navbar {
        border-top: 1px solid rgba(var(--as-menu-color-rgb), 0.1);
        border-bottom: 1px solid rgba(var(--as-menu-color-rgb), 0.1);
        .navbar-nav {
            > .nav-item {
                + .nav-item {
                    border-left: 1px solid rgba(var(--as-menu-color-rgb), 0.1);;
                }
                > .nav-link {
                    padding: 0.75rem 1.5rem;
                    text-transform: uppercase;
                }
            }
        }
    }


    // Login Popup
    .as-login-offcanvas {
        --offcanvas-width: 320px;
        .offcanvas-header {
            background: var(--gray-100);
            position: relative;
            border-bottom: 1px solid var(--gray-300);
        }
        .offcanvas-body {
            padding: 0;
        }
        .as-lo-user {
            display: flex;
            align-items: center;
            .as-lo-avatar {
                flex: 0 0 50px;
                width: 50px;
            }
            .as-lo-user-info {
                flex: 1;
                padding-left: 18px;
                display: flex;
                flex-direction: column;
                gap: 1px;
                h6 {
                    color: var(--dark);
                    margin: 0;
                    font-size: 15px;
                }
                span {
                    font-size: 13px;
                    color: var(--body-color);
                    max-width: 170px;
                    display: inline-block;
                    vertical-align: top;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        .as-lo-cartbar {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 100%;
            li {
                border-bottom: 1px solid var(--gray-300);
                > a {
                    display: flex;
                    align-items: center;
                    padding: 0.8rem 1rem;
                    gap: 8px;
                    color: var(--body-color);
                    text-decoration: none;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    transition: ease all 0.35s;
                    border-left: 4px solid transparent;
                    &:hover {
                        color: var(--primary);
                        border-left: 4px solid var(--primary);
                    }
                }
            }
            .as-lo-icon {
                .as-lo-icon-qty {
                    display: none;
                }
            }
            .as-lo-label {
                .as-lo-icon-qty {
                    &::after {
                        content: ")";
                    }
                    &::before {
                        content: "(";
                    }
                }
            }
        }

        .as-lo-links {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            li {
                border-bottom: 1px solid var(--gray-300);
            }
            .as-lo-link {
                display: flex;
                align-items: center;
                padding: 0.8rem 1rem;
                gap: 8px;
                color: var(--body-color);
                text-decoration: none;
                position: relative;
                overflow: hidden;
                z-index: 1;
                transition: ease all 0.35s;
                border-left: 4px solid transparent;
                &:hover {
                    color: var(--primary);
                    border-left: 4px solid var(--primary);
                }
            }
            .as-lo-link-logout {
                color: var(--danger);
                &:hover {
                    color: var(--danger);
                    border-left: 4px solid var(--danger);
                }
            }
        }


        .btn-close {
            opacity: 1;
            position: absolute;
            top: 28px;
            right: 23px;
            padding: 7px;
            width: 18px;
            border-radius: 50%;
            height: 18px;
        }

    } 


}


