@if o-website-value('header-template') == 'as_header10' {
  header {
        .as-mobile-header {
            @include o-apply-colors('menu');
            @include o-apply-colors('menu-custom');
            @include o-add-gradient('menu-secondary-gradient');
            .as-mob-header-wrap {
                .hm-icon {
                    color: var(--as-menu-color); 
                }
           
            }
            
        }
    }
    .as-alone-search {
        margin: 0 !important;
        padding: 0 !important;
        list-style: none;
    }
    .as-main-header {
        .as-h-container {
            @media(min-width: 1440px){
                max-width: 1400px;
            }
            @media(min-width: 1600px){
                max-width: 1500px;
            }
            @media(min-width: 1900px){
                max-width: 1800px;
            }
        }
    }

    .header-top {
        border-bottom: 1px solid rgba(var(--as-header-color-rgb), .09);
        .ht-top-end,
        .ht-top-start {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 20px;
            align-items: center;
        }

    }

    .header-middle {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(var(--as-menu-color), 0.1);
        .mh-start {
            flex: 0 0 calc(50% - 150px);
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 20px;
            .o_nav-link_secondary,
            .btn {
                padding: 0;
                border-radius: 0;
                font-size: 0.70rem;
                text-transform: uppercase;
                text-decoration: none;
                color: inherit;
                letter-spacing: 2px;
                background: transparent;
                border: none;
                box-shadow: none !important;
                outline: none;
                display: flex;
                align-items: center;
            }

            .o_nav-link_secondary{
                &:hover{
                    color: var(--as-menu-color);
                }
            }
        }
        .h-logo {
            flex: 1;
            display: flex;
            justify-content: center;
            flex: 0 0 300px;
        }
        .mh-end {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            flex: 0 0 calc(50% - 150px);
            a {
                text-decoration: none;
                color: inherit !important;
            }
        }

        .hm-icon {
            width: 40px;
            height: 40px;
            background: none;
            color: var(--as-menu-color) !important;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 19px;
            border-radius: 40px !important;
            transition: ease all 0.35s;
            border: none !important;
            &:hover {
                background: rgba(var(--as-menu-color), 0.08) !important;
            }
            .fa-stack {
                width: auto;
                height: auto;
                line-height: normal;
            }
            .h-sup {
                position: absolute;
                top: -4px;
                right: -4px;
                font-size: 10px;
                padding: 0;
                border-radius: 50px;
                min-width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .as-h-user {
            font-size: 0px;
            &:before {
                font-size: 19px;
            }
        }
        .navbar-nav {
            > .nav-item {
                > .nav-link {
                    line-height: 80px;
                    padding: 0 15px;
                    font-weight: 500;
                }
            }
        }
    }

    .header-navbar {
        .navbar-nav {
            > .nav-item {
                > .nav-link {
                    padding: 0 20px;
                    color: rgba(var(--as-menu-color), 0.75) !important;
                    text-transform: uppercase;
                    font-size: 0.85rem;
                    letter-spacing: 1px;
                    font-weight: 400 !important;
                    line-height: 45px;
                    &.active,
                    &:hover {
                        color: rgba(var(--as-menu-color), 1) !important;
                    }
                }
            }
        }
    }


    // Login Popup
    .as-login-offcanvas {
        --offcanvas-width: 320px;
        .offcanvas-header {
            position: relative;
            border-bottom: 1px solid var(--gray-300);
        }
        
        .as-lo-user {
            display: flex;
            align-items: center;
            .as-lo-avatar {
                flex: 0 0 50px;
                width: 50px;
            }
            .as-lo-user-info {
                flex: 1;
                padding-left: 18px;
                display: flex;
                flex-direction: column;
                gap: 1px;
                h6 {
                    color: var(--dark);
                    margin: 0;
                    font-size: 15px;
                }
                span {
                    font-size: 13px;
                    color: var(--body-color);
                    max-width: 170px;
                    display: inline-block;
                    vertical-align: top;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        .offcanvas-body {
            display: flex;
            flex-direction: column;
            .as-lo-links {
                display: flex;
                flex: 1;
                width: 100%;
                li {
                    &:last-child {
                        margin-top: auto;
                    }
                }
            }
        }

        .as-lo-icon {
            .as-lo-icon-qty {
                display: none;
            }
        }
        .as-lo-label {
            .as-lo-icon-qty {
                &::after {
                    content: ")";
                }
                &::before {
                    content: "(";
                }
            }
        }

        .as-lo-links,
        .as-lo-cartbar {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 100%;
            li {
                > a {
                    display: flex;
                    align-items: center;
                    padding: 0.6rem 0.3rem;
                    gap: 12px;
                    color: var(--body-color);
                    text-decoration: none;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    transition: ease all 0.35s;
                    text-transform: uppercase;
                    font-size: 15px;
                    letter-spacing: 1px;
                    &:hover {
                        color: var(--primary);
                    }
                }
            }
            .as-lo-link-logout {
                color: var(--danger);
                &:hover {
                    color: var(--danger);
                }
            }
        }

        .btn-close {
            opacity: 1;
            position: absolute;
            top: 28px;
            right: 23px;
            padding: 7px;
            width: 18px;
            border-radius: 50%;
            height: 18px;
        }
    } 

}


