.as-quick-view-modal {
    &.modal-body {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .btn-close {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 11;
        background-color: var(--white);
        opacity: 1;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        box-shadow: none;
        outline: none;
        border-radius: 0;
    }
    .as-quick-view-js-sale {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-y: auto;
        padding: 16px;
    }

    .as-qv-cta-wrapper {
        padding: 10px 0;

        .css_quantity{
            .btn{
                display: block !important;
            }
        }
    }

}

.quick-view-detail {
    .modal-content {
        border: none;
        border-radius: 0;
    }

    .modal-body {
        padding: 0;
    }

    

    .pd-q-more-info {
        padding-top: 15px;

        .btn{
            i{
                margin-right: 5px;
            }
        }
    }


    --pd-heading-size: 20px;
    --pd-heading-margin: 0 0 8px;
    --pd-heading-color: var(--dark);
    --pd-heading-weight: 600;

    --att-label-fw: 600;
    --att-label-color: var(--dark);
    --att-label-fs: 13px;

    --att-label-margin: 0 0 0.5rem;
    --att-label-text: uppercase;

    .as-qv-desc {
        padding-top: 10px;
        margin: 10px 0;
        border-top: 1px solid var(--gray-200);
    }

    .as-product-offer-time {
        width: 100%;
        margin: 0 0 16px;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            font-size: 15px;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            +li {
                margin-left: 15px;
            }
        }

        label {
            width: 40px;
            height: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: $gray-300;
            color: $dark;
            border-radius: 50%;
            margin: 0 0 7px;
            font-weight: 600;
            font-size: 16px;

            @include media-breakpoint-down(lg) {
                font-size: 14px;
            }
        }

        span {
            font-size: 11px;
            text-transform: uppercase;

            @include media-breakpoint-down(lg) {
                font-size: 10px;
            }
        }
    }

    .as-brand-info {
        display: flex;
        padding: 20px 0 0;
        border-top: 1px solid $gray-300;
        margin-top: 20px;

        .as-b-avatar {
            flex: 0 0 100px;
            max-width: 100px;
            border: 1px solid $gray-300;    
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .as-b-text {
            flex: 1;
            padding-left: 15px;    
        

            p {
                margin: 0;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-bottom: 5px;
            }
        }
    }

    .as-offers-box {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid $gray-300;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            display: flex;

            +li {
                padding-top: 20px;
            }
        }

        .show_advance_product {
            display: inline-block;
            background: $gray-100;
            border: 1px solid $gray-200;
            padding: 3px 13px;
            font-size: 13px;
            text-transform: uppercase;
            margin-top: 6px;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background: $primary;
                border: 1px solid $primary;
                color: $white;
            }
        }

        .as-offer-icon {
            flex: 0 0 40px;
            max-width: 40px;
            height: 40px;
            border-radius: 3px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: rgba($primary, 0.1);
            color: $primary;
        }

        .as-offer-text {
            flex: 0 0 calc(100% - 35px);
            max-width: calc(100% - 35px);
            padding-left: 16px;

            strong {
                color: $dark;
            }

            p {
                margin: 0;
                display: inline-block;
                width: 100%;
                vertical-align: top;
            }

            .show-extra-prod-info {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
                color: $primary;
                cursor: pointer;
            }
        }
    }

    .as-pd-lists {
        label {
            font-weight: 500;
            color: $dark;
            padding-right: 15px;
        }
    }

    .as-pd-extra {
        padding-top: 16px;
        margin-top: 16px;
        border-top: 1px solid $gray-300;
    }
    .o_product_tags {
        margin-bottom: 16px !important;
    }
    .availability_messages {
        p {
            margin: 15px 0 0;
        }
    }

    .as-b2b-price {
        padding: 15px 0;

        .btn {
            padding: 0 20px;
            height: 50px;
            border-radius: 0;
            font-weight: 500 !important;
            font-size: 14px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid transparent;
            background: rgba($primary, 0.18);
            color: $primary;

            i {
                margin-right: 10px;
            }

            &:hover {
                border: 1px solid $primary;
                background: $primary;
                color: $white;
            }
        }
    }

    .as-advance-attribute-link {
        padding-left: 12px;
        color: $primary;
        cursor: pointer;
    }

    #add_to_cart_wrap {
        display: flex !important;
        flex: 1;
        width: 100%;
        margin-top: 20px;
        gap: 10px;

        .btn {
            --btn-padding-x: 1rem;
            --btn-padding-y: 0.8rem;
            --btn-font-size: 0.95rem;
            --btn-font-weight: 500;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 !important;
        }

        .btn-primary {
            --btn-color: var(--white);
            --btn-border-color: var(--dark);
            --btn-bg: var(--dark);
        }

        .btn-outline-primary {
            --btn-bg: rgba(var(--primary-rgb), 0.18);
            --btn-color: var(--primary);
            --btn-border-color: transparent;
        }
    }

    .as-qv-product-option {
        display: flex;
        padding-bottom: 1rem;
    }

    .as-qv-product-option,
    #product_option_block {
        gap: 20px;
        padding-top: 12px;
        font-size: 13px;

        .btn {
            border: none;
            background: none;
            color: $dark;
            font-size: 13px;
            padding: 0 !important;
            text-transform: uppercase;
            line-height: 1;
            text-decoration: none;

            &:hover {
                border: none;
                background: none;
                color: $primary;
            }
        }
    }

    .as-quick-media {
        position: relative;
    }

    .as-quick-info {
        .h1 {
            font-size: var(--pd-heading-size);
            margin: var(--pd-heading-margin);
            color: var(--pd-heading-color);
            font-weight: var(--pd-heading-weight);
        }
        
        .rating + .as-month-sale-count + .as-bulk-table{
            margin-top: 10px;
        }
    }

    .as-qv-variants {
        .as-qv-attribute_name {
            label {
                font-weight: var(--att-label-fw);
                color: var(--att-label-color);
                font-size: var(--att-label-fs);
                padding: var(--att-label-margin);
                text-transform: var(--att-label-text);
            }

            .as-advance-attribute-link {
                font-weight: var(--att-label-fw);
                font-size: var(--att-label-fs);
                text-transform: var(--att-label-text);
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            li {
                margin: 0 !important;
            }
        }
    }

    .as-qv-variants {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 16px;

        li {
            margin: 0 !important;

            .form-select{
                width: 100% !important;
            }
        }
    }

    .as-qv-price {
        margin: 0;
        padding: 10px 0 15px;
        display: flex;
        align-items: center;
        gap: 8px;

        h5{
            margin-bottom: 0;
        }
        .h6 {
            font-size: 22px;
            color: var(--dark);
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .text-danger {
                font-size: 80%;
                margin: 0 8px
            }
        }

        .as-product-discounted {
            background: var(--primary);
            font-weight: 400;
            font-size: 12px;
            color: var(--white);
            padding: 4px 12px;
        }

        span.text-muted {
            margin: 0;
            flex: 0 0 100%;
            max-width: 100%;
            padding-top: 10px;
        }
    }

    .as_bulk_save {
            .alan-bulk-title {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                i {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='26' viewBox='0 0 25 26' fill='none'%3E%3Cpath d='M4.15558 15.4272L2.57226 13.8439C1.92643 13.198 1.92643 12.1355 2.57226 11.4897L4.15558 9.9063C4.42642 9.63547 4.64517 9.10422 4.64517 8.72922V6.4896C4.64517 5.57294 5.39517 4.82297 6.31185 4.82297H8.55142C8.92642 4.82297 9.45767 4.60424 9.72851 4.33342L11.3118 2.75005C11.9577 2.10423 13.0202 2.10423 13.666 2.75005L15.2494 4.33342C15.5202 4.60424 16.0514 4.82297 16.4264 4.82297H18.666C19.5827 4.82297 20.3326 5.57294 20.3326 6.4896V8.72922C20.3326 9.10422 20.5514 9.63547 20.8222 9.9063L22.4056 11.4897C23.0515 12.1355 23.0515 13.198 22.4056 13.8439L20.8222 15.4272C20.5514 15.698 20.3326 16.2292 20.3326 16.6042V18.8437C20.3326 19.7604 19.5827 20.5105 18.666 20.5105H16.4264C16.0514 20.5105 15.5202 20.7292 15.2494 21.0001L13.666 22.5835C13.0202 23.2292 11.9577 23.2292 11.3118 22.5835L9.72851 21.0001C9.45767 20.7292 8.92642 20.5105 8.55142 20.5105H6.31185C5.39517 20.5105 4.64517 19.7604 4.64517 18.8437V16.6042C4.64517 16.2189 4.42642 15.6876 4.15558 15.4272Z' stroke='%2328A745' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.375 15.7814L15.625 9.53131' stroke='%2328A745' stroke-width='1.875' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.0986 15.2609H15.1079' stroke='%2328A745' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.88965 10.0522H9.899' stroke='%2328A745' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 25px;
                    height: 25px;
                    margin-right: 7px;

                }

                .bulk-title {
                    margin-bottom: 0;
                    color: $dark;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 150%;
                }
            }
            .o_wsale_product_price_list {
                max-width: 100%;
                padding-left: 0;
                margin-bottom: 0;
                border: none;   
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .as-offer-item {
                display: flex;
                cursor: pointer;
                padding: 15px 20px;
                background-color: $white !important;
                position: relative;
                border: 2px solid $gray-300 !important;
                border-radius: 0;

                &.as_active_bulk_offer{
                    position: relative;
                    border-color: $primary !important;
                    .alan-bulk-text {

                        &::before {
                            background-color: $primary;
                            box-shadow: 0 0 0 2px rgba(0, 113, 206, 0.15), 0 0 0 2px rgba(0, 113, 206, 0.15);
                            border: 2px solid #FFF;
                         }
                    }
               
                }

                &+.as-offer-item{
                    border-top: none;
                }

                .alan-bulk-text{
                    padding-left: 24px;
                    span{
                        font-size: 15px;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 14px;
                        margin: auto 0;
                        height: 14px;
                        border-radius: 50px;
                        margin-left: 16px;
                        background-color: $white;
                        border: 2px solid rgba(0, 0, 0 , 0.15);
                        box-shadow:none;
                    }
                }
                
                .alan-bulk-price {
                    margin-left: auto;

                    .alan-price{
                        font-size: 16px;
                        font-weight: 600;
                        color: $dark;
                    }
                }
            }
        }

        .as-bulk-table {
            border: 1px solid var(--gray-200);
            background: var(--gray-100);
            border-radius: .5rem;
            padding: 0.8rem;
            .alan-bulk-title {
                display: flex;
                gap: 12px;
                font-size: 16px;
                font-weight: 600;
                color: var(--dark);
                margin-bottom: 12px;

                i {
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(40 167 69)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z'/><path d='m15 9-6 6'/><path d='M9 9h.01'/><path d='M15 15h.01'/></svg>");
                    width: 24px;
                    height: 24px;
                }
            }

            .o_wsale_product_price_list {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
            }

            .as-offer-item {
                display: flex;
                flex: 1;
                flex-direction: column;
                border: 1px solid var(--gray-300);
                background: var(--white);
                padding: 1rem;
                border-radius: 8px;
                position: relative;
                cursor: pointer;
                white-space: nowrap;
                &::after {
                    content: "";
                    position: absolute;
                    top: 6px;
                    right: 6px;
                    width: 12px;
                    height: 12px;
                    background: var(--white);
                    opacity: 0;
                    border-radius: 50%;
                    border: 3px solid var(--primary);
                }
                &.as_active_bulk_offer {
                    border-color: $primary;
                    &::after {
                        opacity: 1;
                    }
                }

                .as-offer-qty,
                .alan-price {
                    font-weight: 600;
                    color: var(--primary);
                }
            }
        }

}