img {
    max-width: 100%;
}

.modal {
    --modal-border-color: transparent;
    --modal-border-radius: 0;
}


.form-control,
.btn {

}


.as_scroll_to_top {
    width: 40px !important;
    height: 40px !important;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    z-index: 111;
    transition: ease all 0.35s;
    @include media-breakpoint-down(md) {
        bottom: 65px;
    }
}
//slider...................
.as-slider-48{
    .carousel-item{
        // padding-bottom: (15 / 32) * 100% !important;
        min-height: 0 !important;
        padding-top: (5 / 12) * 100% !important;
        // padding-top: (35 / 96) * 100% !important;
        // padding-top: (5 / 9) * 100% !important;
        // padding-bottom: (25 / 54) * 100% !important;
        position: relative;

        .container{
            position: absolute;
        }
    }
}

// Modal
.as-theme-modal {
    .modal-content {
        border: 0;
        --modal-border-radius: 0;
    }
}


.as-home-banner-01-v18 {
    .o_we_bg_filter {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), transparent 55%, transparent 30%, rgba(0, 0, 0, 0.8));
    }

    &.o_full_screen_height {
        padding-bottom: 50px;
        justify-content: flex-end;

        .row {
            align-items: center;
        }

        h2 {
            color: var(--white);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 100;
            font-size: 50px;

        }

        p {
            color: var(--white);
        }

        .btn-primary {
            --btn-bg: transparent;
            --btn-border-color: #fff;
            --btn-hover-color: var(--dark);
            --btn-hover-border-color: var(--white);
            --btn-hover-bg: var(--white);
        }
    }
}

.as-title-v18-01 {
    padding: 40px 0;

    .as-v18-title-01 {
        font-size: 26px;
        margin: 0;
    }

    .btn {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        --btn-color: #000;
        --btn-bg: transparent;
        --btn-border-color: transparent;
        --btn-hover-color: var(--primary);
        --btn-active-bg: transparent;
        --btn-active-border-color: transparent;
        --btn-active-shadow: none;
        --btn-hover-bg: transparent;
        --btn-hover-border-color: transparent;
        --btn-focus-shadow-rgb: 38, 134, 213;
        --btn-active-color: var(--dark);
        --btn-disabled-bg: transparent;
        --btn-disabled-border-color: transparent;
        --btn-disabled-color: var(--dark);
        --btn-padding-x: 0;
        --btn-padding-y: 0;
    }
}

.alan-banner-6 {
    .o_bg_img_center {
        min-height: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h3 {
        font-weight: 700;
        line-height: 1;
    }

    .al-bg {
        margin-bottom: 2rem;
    }
}
//slider ......................
.as-slider-47{
   
    .hb-cont{
        text-align: center;

        h1{
            line-height: 100%;
            font-weight: 400;

            span{
                .o_text_highlight_svg {
                        top: auto !important;
                        bottom: 25%;
                    .o_text_highlight_path_underline{
                        stroke-linecap: square;
                        
                    }
                }
            }
        }
        .hb-h1 {
            margin-bottom: 35px;
        }
        p {
            font-weight: 400;
            line-height: 140%;
        }
        .hb-btn{
            padding-top: 60px;
            padding-bottom: 30px;

            @media (max-width:991px) {
                padding-top: 30px;
            }

            a{
                line-height: 145%;
                display: inline-block;
                border-radius: 9px;
                padding: 31px 56px;

                @media (max-width:991px) {
                    padding: 20px 30px;
                }
            }
        }
        .hb-disc{
            font-size: 18px;
            line-height: 161%;
            font-weight: 400;     

            strong {
                font-size: 25px;
                font-weight: 700;
                line-height: 116%;
            }
        }   
    }
}

//bannerrrrr ..................................
.as-home-banner-03-v18{
    
    .btn{
        // backdrop-filter: blur(10px);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;

    }
}

//features...............................
.as-features-temp29{
    padding: 37px 0;
      
    .as-ft-icon{
        margin-right: 24px;
    }
    .ft-h6{
        margin-bottom: 9px;
        h6{
            font-size: 18px;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 0; 
        }
    }
    p{
        font-size: 15px;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 0;
    }
}
//shop banner.........................
.as-sb59{
    .as-p{
        font-size: 30px;
        font-weight: 300;
        line-height: 120%;

        @media (max-width:991px) {
            font-size: 22px;
        }
        @media (max-width:768px) {
            font-size: 20px;
        }
    }
    .as-btn {
        margin-top: 37px;

        @media (max-width:991px) {
            margin-top: 23px;   
        }
    }
    div.rounded-0 {
        width: 60%;
    }
}
.as-sb60 {

    img{
       
     
    }
    .as-disc {
        span {
            text-transform: uppercase;  
            .o_text_highlight_svg {
                top: -29px !important;

                @media (max-width:991px) {
                    top: -21px !important;
                }
                .o_text_highlight_path_underline {
                    stroke-linecap: square;
                }
            }
        }
    }
    .as-btn{
        a{
            padding-right: 20px;
            display: inline-block;
            text-decoration: none;
            
            position: relative;
            &::before{
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='12px'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10.659,7.663 L10.659,2.906 L1.901,11.650 L0.841,10.589 L9.595,1.847 L4.526,1.847 L4.526,0.347 L12.159,0.347 L12.159,7.663 L10.659,7.663 Z'/%3E%3C/svg%3E");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 0;
                margin: auto 0;
                right: 0;
                bottom: 0;
                width: 13px;
                height: 13px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #000;
                width: 100%;
                height: 1px;

            }
        }
    }
}

//call to action .............................
.cta-temp29{
    .cta-container{
        @media (min-width:1400px) {
            max-width: 1660px;
        }
    }
    h6{
        font-size: 22px;
        line-height: 130%;       
        text-align: center;   
    }
    .as-cta-a{
        font-size: 34px;
        text-decoration: none;
        display: flex;
        padding: 13px;
        justify-content: center;
        align-items: center;
        position: relative;

        @media (max-width:991px) {
            font-size: 24px;
        }

        &::after{
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='12px'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10.659,7.663 L10.659,2.906 L1.901,11.650 L0.841,10.589 L9.595,1.847 L4.526,1.847 L4.526,0.347 L12.159,0.347 L12.159,7.663 L10.659,7.663 Z'/%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 10px;
            margin: auto 0;
            right: 10px;
            width: 13px;
            height: 13px;
        }
    }
    .cta-get-in{
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: -60px;
            right: 180px;
            background-color: #ffdd9f;
            width: 130px;
            height: 60px;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
        }
    }
}



//collection ..................

.col-temp14{
    .col-dis{
        span{
            .o_text_highlight_svg {
                top: -10px !important;
                .o_text_highlight_path_underline{
                    stroke-linecap: square;
                    
                }
            }
        }
    }
  
}

//about us ......................................
.about-temp59{
    .about-btn{
        a{
            padding-right: 20px;
            display: inline-block;
            text-decoration: none;
            position: relative;

            &::before{
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='12px'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10.659,7.663 L10.659,2.906 L1.901,11.650 L0.841,10.589 L9.595,1.847 L4.526,1.847 L4.526,0.347 L12.159,0.347 L12.159,7.663 L10.659,7.663 Z'/%3E%3C/svg%3E");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 0;
                margin: auto 0;
                right: 0;
                bottom: 0;
                width: 13px;
                height: 13px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #000;
                width: 100%;
                height: 1px;

            }
        }
    }
}

//testimonial......................
.as-test-19{
    h3{
        .o_text_highlight_svg{
            top: -8px !important;
            .o_text_highlight_path_underline{
                stroke-linecap: square;   
            }
        }
    }
}
//portfolio...........................
.portfolio-snippet-4{
    .card{
        margin: 0 !important;
    } 
}
//service .........................................................

.service-snippet-8,
.service-snippet-10,
.service-snippet-5{
    .card{
        margin: 0 !important;
    }
}


#cart_products {
    @media(max-width: 767px){
        .btn {
            --btn-padding-x: 0.85rem;
            --btn-padding-y: 0.55rem;
        }
    }
}