
@font-face {
  font-family: "feather";
  src: url('fonts/feather.eot?t=1525787366991'); /* IE9*/
  src: url('fonts/feather.eot?t=1525787366991#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/feather.woff?t=1525787366991') format('woff'), /* chrome, firefox */
  url('fonts/feather.ttf?t=1525787366991') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/feather.svg?t=1525787366991#feather') format('svg'); /* iOS 4.1- */
}

.asi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.asi-alert-octagon:before { content: "\e81b"; }

.asi-alert-circle:before { content: "\e81c"; }

.asi-activity:before { content: "\e81d"; }

.asi-alert-triangle:before { content: "\e81e"; }

.asi-align-center:before { content: "\e81f"; }

.asi-airplay:before { content: "\e820"; }

.asi-align-justify:before { content: "\e821"; }

.asi-align-left:before { content: "\e822"; }

.asi-align-right:before { content: "\e823"; }

.asi-arrow-down-left:before { content: "\e824"; }

.asi-arrow-down-right:before { content: "\e825"; }

.asi-anchor:before { content: "\e826"; }

.asi-aperture:before { content: "\e827"; }

.asi-arrow-left:before { content: "\e828"; }

.asi-arrow-right:before { content: "\e829"; }

.asi-arrow-down:before { content: "\e82a"; }

.asi-arrow-up-left:before { content: "\e82b"; }

.asi-arrow-up-right:before { content: "\e82c"; }

.asi-arrow-up:before { content: "\e82d"; }

.asi-award:before { content: "\e82e"; }

.asi-bar-chart:before { content: "\e82f"; }

.asi-at-sign:before { content: "\e830"; }

.asi-bar-chart-2:before { content: "\e831"; }

.asi-battery-charging:before { content: "\e832"; }

.asi-bell-off:before { content: "\e833"; }

.asi-battery:before { content: "\e834"; }

.asi-bluetooth:before { content: "\e835"; }

.asi-bell:before { content: "\e836"; }

.asi-book:before { content: "\e837"; }

.asi-briefcase:before { content: "\e838"; }

.asi-camera-off:before { content: "\e839"; }

.asi-calendar:before { content: "\e83a"; }

.asi-bookmark:before { content: "\e83b"; }

.asi-box:before { content: "\e83c"; }

.asi-camera:before { content: "\e83d"; }

.asi-check-circle:before { content: "\e83e"; }

.asi-check:before { content: "\e83f"; }

.asi-check-square:before { content: "\e840"; }

.asi-cast:before { content: "\e841"; }

.asi-chevron-down:before { content: "\e842"; }

.asi-chevron-left:before { content: "\e843"; }

.asi-chevron-right:before { content: "\e844"; }

.asi-chevron-up:before { content: "\e845"; }

.asi-chevrons-down:before { content: "\e846"; }

.asi-chevrons-right:before { content: "\e847"; }

.asi-chevrons-up:before { content: "\e848"; }

.asi-chevrons-left:before { content: "\e849"; }

.asi-circle:before { content: "\e84a"; }

.asi-clipboard:before { content: "\e84b"; }

.asi-chrome:before { content: "\e84c"; }

.asi-clock:before { content: "\e84d"; }

.asi-cloud-lightning:before { content: "\e84e"; }

.asi-cloud-drizzle:before { content: "\e84f"; }

.asi-cloud-rain:before { content: "\e850"; }

.asi-cloud-off:before { content: "\e851"; }

.asi-codepen:before { content: "\e852"; }

.asi-cloud-snow:before { content: "\e853"; }

.asi-compass:before { content: "\e854"; }

.asi-copy:before { content: "\e855"; }

.asi-corner-down-right:before { content: "\e856"; }

.asi-corner-down-left:before { content: "\e857"; }

.asi-corner-left-down:before { content: "\e858"; }

.asi-corner-left-up:before { content: "\e859"; }

.asi-corner-up-left:before { content: "\e85a"; }

.asi-corner-up-right:before { content: "\e85b"; }

.asi-corner-right-down:before { content: "\e85c"; }

.asi-corner-right-up:before { content: "\e85d"; }

.asi-cpu:before { content: "\e85e"; }

.asi-credit-card:before { content: "\e85f"; }

.asi-crosshair:before { content: "\e860"; }

.asi-disc:before { content: "\e861"; }

.asi-delete:before { content: "\e862"; }

.asi-download-cloud:before { content: "\e863"; }

.asi-download:before { content: "\e864"; }

.asi-droplet:before { content: "\e865"; }

.asi-edit-2:before { content: "\e866"; }

.asi-edit:before { content: "\e867"; }

.asi-edit-1:before { content: "\e868"; }

.asi-external-link:before { content: "\e869"; }

.asi-eye:before { content: "\e86a"; }

.asi-feather:before { content: "\e86b"; }

.asi-facebook:before { content: "\e86c"; }

.asi-file-minus:before { content: "\e86d"; }

.asi-eye-off:before { content: "\e86e"; }

.asi-fast-forward:before { content: "\e86f"; }

.asi-file-text:before { content: "\e870"; }

.asi-film:before { content: "\e871"; }

.asi-file:before { content: "\e872"; }

.asi-file-plus:before { content: "\e873"; }

.asi-folder:before { content: "\e874"; }

.asi-filter:before { content: "\e875"; }

.asi-flag:before { content: "\e876"; }

.asi-globe:before { content: "\e877"; }

.asi-grid:before { content: "\e878"; }

.asi-heart:before { content: "\e879"; }

.asi-home:before { content: "\e87a"; }

.asi-github:before { content: "\e87b"; }

.asi-image:before { content: "\e87c"; }

.asi-inbox:before { content: "\e87d"; }

.asi-layers:before { content: "\e87e"; }

.asi-info:before { content: "\e87f"; }

.asi-instagram:before { content: "\e880"; }

.asi-layout:before { content: "\e881"; }

.asi-link-2:before { content: "\e882"; }

.asi-life-buoy:before { content: "\e883"; }

.asi-link:before { content: "\e884"; }

.asi-log-in:before { content: "\e885"; }

.asi-list:before { content: "\e886"; }

.asi-lock:before { content: "\e887"; }

.asi-log-out:before { content: "\e888"; }

.asi-loader:before { content: "\e889"; }

.asi-mail:before { content: "\e88a"; }

.asi-maximize-2:before { content: "\e88b"; }

.asi-map:before { content: "\e88c"; }

.asi-map-pin:before { content: "\e88e"; }

.asi-menu:before { content: "\e88f"; }

.asi-message-circle:before { content: "\e890"; }

.asi-message-square:before { content: "\e891"; }

.asi-minimize-2:before { content: "\e892"; }

.asi-mic-off:before { content: "\e893"; }

.asi-minus-circle:before { content: "\e894"; }

.asi-mic:before { content: "\e895"; }

.asi-minus-square:before { content: "\e896"; }

.asi-minus:before { content: "\e897"; }

.asi-moon:before { content: "\e898"; }

.asi-monitor:before { content: "\e899"; }

.asi-more-vertical:before { content: "\e89a"; }

.asi-more-horizontal:before { content: "\e89b"; }

.asi-move:before { content: "\e89c"; }

.asi-music:before { content: "\e89d"; }

.asi-navigation-2:before { content: "\e89e"; }

.asi-navigation:before { content: "\e89f"; }

.asi-octagon:before { content: "\e8a0"; }

.asi-package:before { content: "\e8a1"; }

.asi-pause-circle:before { content: "\e8a2"; }

.asi-pause:before { content: "\e8a3"; }

.asi-percent:before { content: "\e8a4"; }

.asi-phone-call:before { content: "\e8a5"; }

.asi-phone-forwarded:before { content: "\e8a6"; }

.asi-phone-missed:before { content: "\e8a7"; }

.asi-phone-off:before { content: "\e8a8"; }

.asi-phone-incoming:before { content: "\e8a9"; }

.asi-phone:before { content: "\e8aa"; }

.asi-phone-outgoing:before { content: "\e8ab"; }

.asi-pie-chart:before { content: "\e8ac"; }

.asi-play-circle:before { content: "\e8ad"; }

.asi-play:before { content: "\e8ae"; }

.asi-plus-square:before { content: "\e8af"; }

.asi-plus-circle:before { content: "\e8b0"; }

.asi-plus:before { content: "\e8b1"; }

.asi-pocket:before { content: "\e8b2"; }

.asi-printer:before { content: "\e8b3"; }

.asi-power:before { content: "\e8b4"; }

.asi-radio:before { content: "\e8b5"; }

.asi-repeat:before { content: "\e8b6"; }

.asi-refresh-ccw:before { content: "\e8b7"; }

.asi-rewind:before { content: "\e8b8"; }

.asi-rotate-ccw:before { content: "\e8b9"; }

.asi-refresh-cw:before { content: "\e8ba"; }

.asi-rotate-cw:before { content: "\e8bb"; }

.asi-save:before { content: "\e8bc"; }

.asi-search:before { content: "\e8bd"; }

.asi-server:before { content: "\e8be"; }

.asi-scissors:before { content: "\e8bf"; }

.asi-share-2:before { content: "\e8c0"; }

.asi-share:before { content: "\e8c1"; }

.asi-shield:before { content: "\e8c2"; }

.asi-settings:before { content: "\e8c3"; }

.asi-skip-back:before { content: "\e8c4"; }

.asi-shuffle:before { content: "\e8c5"; }

.asi-sidebar:before { content: "\e8c6"; }

.asi-skip-forward:before { content: "\e8c7"; }

.asi-slack:before { content: "\e8c8"; }

.asi-slash:before { content: "\e8c9"; }

.asi-smartphone:before { content: "\e8ca"; }

.asi-square:before { content: "\e8cb"; }

.asi-speaker:before { content: "\e8cc"; }

.asi-star:before { content: "\e8cd"; }

.asi-stop-circle:before { content: "\e8ce"; }

.asi-sun:before { content: "\e8cf"; }

.asi-sunrise:before { content: "\e8d0"; }

.asi-tablet:before { content: "\e8d1"; }

.asi-tag:before { content: "\e8d2"; }

.asi-sunset:before { content: "\e8d3"; }

.asi-target:before { content: "\e8d4"; }

.asi-thermometer:before { content: "\e8d5"; }

.asi-thumbs-up:before { content: "\e8d6"; }

.asi-thumbs-down:before { content: "\e8d7"; }

.asi-toggle-left:before { content: "\e8d8"; }

.asi-toggle-right:before { content: "\e8d9"; }

.asi-trash-2:before { content: "\e8da"; }

.asi-trash:before { content: "\e8db"; }

.asi-trending-up:before { content: "\e8dc"; }

.asi-trending-down:before { content: "\e8dd"; }

.asi-triangle:before { content: "\e8de"; }

.asi-type:before { content: "\e8df"; }

.asi-twitter:before { content: "\e8e0"; }

.asi-upload:before { content: "\e8e1"; }

.asi-umbrella:before { content: "\e8e2"; }

.asi-upload-cloud:before { content: "\e8e3"; }

.asi-unlock:before { content: "\e8e4"; }

.asi-user-check:before { content: "\e8e5"; }

.asi-user-minus:before { content: "\e8e6"; }

.asi-user-plus:before { content: "\e8e7"; }

.asi-user-x:before { content: "\e8e8"; }

.asi-user:before { content: "\e8e9"; }

.asi-users:before { content: "\e8ea"; }

.asi-video-off:before { content: "\e8eb"; }

.asi-video:before { content: "\e8ec"; }

.asi-voicemail:before { content: "\e8ed"; }

.asi-volume-x:before { content: "\e8ee"; }

.asi-volume-2:before { content: "\e8ef"; }

.asi-volume-1:before { content: "\e8f0"; }

.asi-volume:before { content: "\e8f1"; }

.asi-watch:before { content: "\e8f2"; }

.asi-wifi:before { content: "\e8f3"; }

.asi-x-square:before { content: "\e8f4"; }

.asi-wind:before { content: "\e8f5"; }

.asi-x:before { content: "\e8f6"; }

.asi-x-circle:before { content: "\e8f7"; }

.asi-zap:before { content: "\e8f8"; }

.asi-zoom-in:before { content: "\e8f9"; }

.asi-zoom-out:before { content: "\e8fa"; }

.asi-command:before { content: "\e8fb"; }

.asi-cloud:before { content: "\e8fc"; }

.asi-hash:before { content: "\e8fd"; }

.asi-headphones:before { content: "\e8fe"; }

.asi-underline:before { content: "\e8ff"; }

.asi-italic:before { content: "\e900"; }

.asi-bold:before { content: "\e901"; }

.asi-crop:before { content: "\e902"; }

.asi-help-circle:before { content: "\e903"; }

.asi-paperclip:before { content: "\e904"; }

.asi-shopping-cart:before { content: "\e905"; }

.asi-tv:before { content: "\e906"; }

.asi-wifi-off:before { content: "\e907"; }

.asi-minimize:before { content: "\e88d"; }

.asi-maximize:before { content: "\e908"; }

.asi-gitlab:before { content: "\e909"; }

.asi-sliders:before { content: "\e90a"; }

.asi-star-on:before { content: "\e90b"; }

.asi-heart-on:before { content: "\e90c"; }

.asi-archive:before { content: "\e90d"; }

.asi-arrow-down-circle:before { content: "\e90e"; }

.asi-arrow-up-circle:before { content: "\e90f"; }

.asi-arrow-left-circle:before { content: "\e910"; }

.asi-arrow-right-circle:before { content: "\e911"; }

.asi-bar-chart-line-:before { content: "\e912"; }

.asi-bar-chart-line:before { content: "\e913"; }

.asi-book-open:before { content: "\e914"; }

.asi-code:before { content: "\e915"; }

.asi-database:before { content: "\e916"; }

.asi-dollar-sign:before { content: "\e917"; }

.asi-folder-plus:before { content: "\e918"; }

.asi-gift:before { content: "\e919"; }

.asi-folder-minus:before { content: "\e91a"; }

.asi-git-commit:before { content: "\e91b"; }

.asi-git-branch:before { content: "\e91c"; }

.asi-git-pull-request:before { content: "\e91d"; }

.asi-git-merge:before { content: "\e91e"; }

.asi-linkedin:before { content: "\e91f"; }

.asi-hard-drive:before { content: "\e920"; }

.asi-more-vertical-:before { content: "\e921"; }

.asi-more-horizontal-:before { content: "\e922"; }

.asi-rss:before { content: "\e923"; }

.asi-send:before { content: "\e924"; }

.asi-shield-off:before { content: "\e925"; }

.asi-shopping-bag:before { content: "\e926"; }

.asi-terminal:before { content: "\e927"; }

.asi-truck:before { content: "\e928"; }

.asi-zap-off:before { content: "\e929"; }

.asi-youtube:before { content: "\e92a"; }
