@if o-website-value('shop-template')=='alan_shop0' {

    // Product Card Start

    .oe_website_sale  {
        #products_grid {
            // Default
            --o-wsale-card-border-width: 0;
            --o-wsale-card-border-radius: 0;
            --o-wsale-card-info-padding: 12px 0 0 0;
            --o-wsale-card-info-grow: null;

            // Custom
            --as-product-card-title: var(--dark);
            --as-product-card-brand: var(--gray-600);
            --as-product-card-desc: var(--body-color);
            --as-product-card-sku: var(--gray-600);
            --as-product-card-border: var(--border-color);

            --as-product-card-fs-lg: 16px;
            --as-product-card-fs-sm: 14px;
            --as-product-card-fs-xs: 12px;
            --as-product-card-fs-xxs: 10px;

            --as-product-card-info-align: center;

            --as-product-card-price-align: center;
            --as-product-card-price-color: var(--primary);

            --as-product-card-info-gap: 0.4rem;
            --as-product-card-sub-gap: 0.4rem;

            // Timer
            --as-product-card-time-align: center;
            --as-product-card-time-color: var(--dark);

            // SKU
            --as-product-card-sku-color: var(--gray-600);

            // Color
            --as-product-card-color-gap: 6px;
            --as-product-card-color-align: center;
            --as-product-card-color-size: 25px;
            --as-product-card-color-rounded: 50%;
            --as-product-card-color-border: 2px;
            --as-product-card-color-border-color: var(--white);
            --as-product-card-color-border-shadow: 0 0 0 2px var(--gray-300);
            --as-product-card-color-border-shadow-active: 0 0 0 2px var(--primary);

            // Icons
            --as-product-card-icon-gap: 4px;
            --as-product-card-icon-size: 38px;
            --as-product-card-icon-rounded: 50%;
            --as-product-card-icon-border: none;
            --as-product-card-icon-bg: var(--white);
            --as-product-card-icon-color: var(--dark);
            --as-product-card-icon-shadow: 0px 1px 3px rgba($dark, 0.10), 0px 1px 2px -1px rgba($dark, 0.10);

            --as-product-card-icon-bg-hover: var(--dark);
            --as-product-card-icon-color-hover: var(--white);

            @include media-breakpoint-down(lg) {
                --as-product-card-info-gap: 0.2rem;
                --as-product-card-icon-border: 1px solid var(--gray-300);
            }
        }
    }

    .oe_product {
        .as-product-card-actions {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            flex-direction: column;
        }

        .as_product_rating {
            line-height: 15px;
            position: absolute;
            bottom: calc(100% + 12px);
            left: 12px;
            opacity: 1;
            transition: cubic-bezier(0.55, 0.06, 0.68, 0.19) opacity 0.25s;
            font-size: 11px;
            color: var(--gray-600);
            font-weight: 600;
            background: var(--white);
            padding: 3px 6px;
            border-radius: 15px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            box-shadow: 0px 1px 3px rgba(var(--dark-rgb), .10), 0px 1px 2px -1px rgba(var(--dark-rgb), .10);

            .fa {
                margin-right: 3px;
                color: var(--warning);
            }
        }

        .o_wsale_product_information {

        }


        .o_wsale_product_sub {
            .o_wsale_product_btn {
                display: flex;
                width: 100%;
                background: rgba(var(--white-rgb), 0.7);
                -webkit-backdrop-filter: saturate(150%) blur(5px);
                backdrop-filter: saturate(150%) blur(5px);
                bottom: 100% !important;
                left: 0 !important;
                padding: 7px;
                justify-content: center;
                @include media-breakpoint-down(lg) {
                    padding-bottom: 0;
                }
            }
        }

        .as-b2b-price {
            padding: 7px 0 15px;
            display: flex;
            width: 100%;
            justify-content: center;
            a {
                height: 30px;
                display: inline-flex;
                align-items: center;
                background: $white;
                border: 1px solid $gray-300;
                color: $dark;
                padding: 0 12px 0 0px;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                transition: ease all 0.35s;
                @include media-breakpoint-down(md) {
                    padding: 0 5px;
                    font-size: 13px;
                }
                span {
                    padding-left: 8px;
                    @include media-breakpoint-down(md) {
                        padding-left: 0;
                    }
                }
                i {
                    width: 26px;
                    height: 26px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: $gray-300;
                    color: $dark;
                    margin-left: 1px;
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
                &:hover {
                    background: $primary;
                    border-color: $primary;
                    color: $white;
                    i {
                        background: $white;
                        color: $primary;
                    }
                }
            }
        }


        .as-product-units-message,
        .as-product-stock-message {
            text-align: var(--as-product-card-info-align);
            padding-top: var(--as-product-card-sub-gap);
            span {
                display: inline-block;
                vertical-align: top;
                font-size: 13px;
            }
            p {
                margin: 0;
            }
        }

        .as-product-stock-message {
            span {
                color: $danger;
                border-bottom: 2px solid rgba($danger, 0.5);
            }
            
        }
        .as-product-units-message {
            span {
                color: $warning;
                border-bottom: 2px solid rgba($warning, 0.5);
            }
        }


    }

    // Product Card End //

    // Product Card List
    #products_grid {
        &.o_wsale_layout_list {
            --as-product-card-info-align: left;
            --as-product-card-price-align: flex-start;
            --as-product-card-color-align: flex-start;
            --as-product-card-time-align: flex-start;
            --as-product-card-info-gap: 0.6rem;
            --as-product-card-sub-gap: 0.6rem;
            
            .oe_product {
                --o-wsale-card-thumb-size: calc(250px * var(--o-wsale-card-thumb-aspect-ratio, 1));
                --o-wsale-card-info-grow: null;
                padding-bottom: var(--o-wsale-products-grid-gap);
                border-bottom: 1px solid var(--gray-300);
                .as_product_rating {
                    bottom: auto;
                    left: 7px;
                    box-shadow: none;
                    padding: 2px 0 0;
                    + .as-product-brand {
                        padding-left: 55px;
                    }
                    + .o_wsale_products_item_title {
                        padding-left: 55px;
                    }
                }
                
                .o_wsale_product_sub {
                    padding-top: 0.3rem;
                    .o_wsale_product_btn {
                        background-color: transparent;
                        padding: 0;
                        justify-content: flex-start;
                        order: 12;
                        --as-product-card-icon-border: 1px solid var(--gray-300);
                    }
                }
                .as-product-offer-time {
                    li {
                        align-items: flex-start;
                    }
                }
                .as-product-units-message {

                }
            }
        }
    }

    // Product Card List End //

    // Category
    .wsale_products_categories_list {
        .nav {
            --nav-link-color:var(--body-color);
            --nav-link-hover-color:var(--primary);
            padding: 0 0.9rem 0.9rem;
            #o_wsale_offcanvas_categories & {
                padding: 0;
            }
            > .nav-item {
                margin: 0 0 5px !important;
            }
            a {
                color: inherit;
                position: relative;
                padding-left: 22px !important;
                text-decoration: none !important;
                &:before {
                    content: "";
                    position: absolute;
                    left: 4px;
                    top: 8px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--white);
                    box-shadow: 0 0 0 4px var(--gray-200);
                }
                &.text-decoration-underline {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                    } 
                }
            }
            .accordion-header {
                margin: 0 !important;
                position: relative;
                .accordion-button {
                    height: 20px;
                    width: 20px !important;
                    flex: 0 0 20px !important;
                    margin: 0 !important;
                    position: absolute;
                    top: 0;
                    right: 0;
                    &:before {
                        content: "";
                        background-size: 0.9rem;
                        background-position: center;
                        background-image: var(--accordion-btn-icon);
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                        transform: rotate(-90deg);
                    }
                }
            }
            .accordion-collapse {
                padding-left: 20px !important;
                .nav-item {
                    &:first-child {
                        margin-top: 10px !important;
                    }
                    &:last-child {
                        margin-bottom: 10px !important;
                    }
                }
            }
        }
    }

    

    #products_grid_before {
        
        #o_wsale_price_range_option {
            border: none !important;
        }
        .products_attributes_filters {
            border: none !important;
        }

        .as-product-stock {
            margin: 1rem 0;
            border: 1px solid var(--accordion-border-color);
        }

        .as-shop-accordion-item {
            border: 1px solid var(--accordion-border-color) !important;
            margin: 0 0 0.7rem !important;
            .accordion-button {
                padding: 0.9rem !important;
                text-transform: uppercase;
                color: var(--dark);
                font-size: 0.9rem;
            }
            #o_wsale_price_range_option_inner {
                padding: 0 1rem 1rem;
            }
            .multirange-wrapper {
                margin: 0 !important;
            }
        }
    }

    // Common Checkbox Start
    .o_website_offcanvas,
    #products_grid_before {
        .form-check {
            position: relative;
            padding: 0;
            font-size: 15px;
            .form-check-label {
                padding: 0 8px 0 28px;
                font-weight: 400;
                &:after {
                    content: "";
                    position: absolute;
                    left: 4px;
                    top: 8px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--white);
                    box-shadow: 0 0 0 4px var(--gray-200);
                }
            }
            .form-check-input {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                opacity: 0;
                &:checked {
                    ~ .form-check-label {
                        color: $primary;
                        &:after {
                            background-color: var(--primary);
                        }
                    }
                }
            }

        }

        .js_attributes {
            .form-select {
                font-size: 15px;
            }
            .form-check {
                display: flex;
            }
        }

        .as-product-stock {
            padding: 14px;
            color: var(--accordion-color);
            font-size: 15px;
            cursor: pointer;
            a {
                text-decoration: none;
                color: var(--dark);
            }
        }
        
    }
    // Common Checkbox End

    /* Topbar
    ------------------------------*/
    #products_grid {
        .btn-toolbar {
            justify-content: inherit !important;

            .o_searchbar_form {
                display: none !important;
            }

            .as-ppg-dropdown {
                display: flex !important;

                label {
                    font-size: 15px;
                    padding: 0 10px;
                    line-height: 45px;
                    border-radius: 0;
                    border: 1px solid var(--gray-300);
                    background: var(--white) !important;
                    display: inline-flex !important;
                    margin: 0 !important;
                    border-right: none;
                }

            }

            .o_sortby_dropdown {
                order: 10;
                margin: 0 !important;

                @include media-breakpoint-up(lg) {
                    display: flex !important;
                    small {
                        font-size: 15px;
                        padding-right: 16px;
                        line-height: 45px;
                        border-radius: 0;
                        background: var(--white) !important;
                        display: inline-flex !important;
                        margin: 0 !important;
                        border-right: none;
                    }
                }
            }

            .o_pricelist_dropdown {
                margin: 0 0 0 auto !important;
                order: 10;
            }

            .dropdown {
                .dropdown-toggle {
                    background: var(--white) !important;
                    border: 1px solid var(--gray-300) !important;
                    font-size: 15px;
                    padding: 0 16px;
                    line-height: 45px;
                    border-radius: 0;

                    &:after {
                        content: "\f107";
                        font-family: FontAwesome;
                        border: 0;
                        vertical-align: top;
                        display: inline-block;
                        margin-left: 0.255em;
                    }
                }

                .dropdown-menu {
                    box-shadow: $box-shadow;
                    font-size: 15px;
                }
            }

            .o_wsale_apply_layout {
                margin: 0 !important;

                .btn {
                    border-radius: 0px;
                    border: 1px solid var(--gray-300) !important;
                    background: var(--white) !important;
                    color: var(--gray-600) !important;
                    z-index: 0;
                    padding: 0;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: none;
                    &.active {
                        border-color: var(--dark) !important;
                        background: var(--dark) !important;
                        color: var(--white) !important;
                    }
                }
            }

            button[data-bs-target="#o_wsale_offcanvas"] {
                border-radius: 0px;
                border: 1px solid var(--gray-300) !important;
                background: var(--white) !important;
                color: var(--gray-600) !important;
                z-index: 0;
                padding: 0;
                width: 45px;
                height: 45px;

                @include media-breakpoint-down(lg) {
                    margin-left: auto !important;
                }
            }
        }
    }

    /* Catagory Slider
    ------------------------------*/
    #products_grid {
        display: flex;
        flex-direction: column;
        >  h1 {
            padding: 0 0 15px;
            margin: 0;
            font-size: 20px;
        }
        .o_wsale_filmstip_wrapper {
            .as-filmstip-cat {
                span {
                    font-size: 14px;
                    color: $dark;
                    font-weight: 500;
                    padding-top: 7px;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    @include media-breakpoint-down(md) {
                        padding-top: 5px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    #o_wsale_offcanvas {
        #o_wsale_offcanvas_categories,
        #o_wsale_offcanvas_orderby {
            .accordion-body {
                --accordion-body-padding-x: 0.9rem;
            }
        }
        .accordion-flush {
            > .accordion-item {
                border-top: none;
                > .accordion-header {
                    > .accordion-button {
                        padding: 0.9rem !important;
                        text-transform: uppercase;
                        color: var(--dark);
                        font-size: 0.9rem;
                        --accordion-active-bg: transparent;
                    }
                }
            }
        }
        
        #o_wsale_price_range_option {
            padding: 0 !important;
            .accordion-item {
                border-top: var(--accordion-border-width) solid var(--accordion-border-color);
            }
            #o_wsale_price_range_option_inner {
                padding-left: 0.9rem;
                padding-right: 0.9rem;
            }
        }

        .offcanvas-body {
            overflow: inherit !important;
            .btn {
                margin: 0 !important;
            }
        }
    }


    // Accordion
    .as-shop-accordion-item {
        .accordion-body {
            --accordion-body-padding-x: 0.9rem;
            --accordion-body-padding-y: 0 0.9rem;
        }
    }
    #o_wsale_price_range_option {
        .accordion-item {
            .accordion-collapse {
                padding-left: 0.9rem;
                padding-right: 0.9rem;
            }
        }
    }

    // Ratings
    .as-aside-star-list {
        .number,
        .up {
            display: none;
        }
    }


    .o_wsale_products_main_row {
        margin-bottom: 35px;
        margin-top: 0;
    }

    // Filter 
    .as-shop-top-filter {
        padding: 0 0 25px;
    }

    .as-aside-attr-search {
        --attr-search-rounded: 0;
    }


    .o_wsale_products_main_row {
        .dropdown-menu {
            --border-radius: 0;
            --dropdown-item-padding-x: 1rem;
            --dropdown-item-padding-y: 0.55rem;
        }
    }

}