@if o-website-value('shop-layout')=='alan_shop_layout_full' {
    .as_shop_page {
        #wrap {
            > .container {
                @media(min-width: 1440px){
                    max-width: 1400px;
                }
                @media(min-width: 1600px){
                    max-width: 1500px;
                }
                @media(min-width: 1900px){
                    max-width: 1800px;
                }
            }
        }
    }
    #products_grid_before {
        max-width: 350px;
    }
    #products_grid {
        flex: 1;
    }
}