@if o-website-value('shop-template')=='alan_shop6' {
    
    .as-shop-top-filter {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--gray-300);
    }

    .shop-breadcrumbs {
        .as_shop_page & {
            margin-bottom: 0;
        }
        ~ .oe_website_sale.pt-2 {
            padding-top: 0 !important;
        }
    }
    .o_wsale_products_main_row {
        margin-top: 0;
        #products_grid_before {
            margin-top: 0;
        }
        #products_grid {
            margin-top: 0;
        }
        .o_wsale_products_grid_before_rail {
            margin-top: 0 !important;
        }
    }


    // Custom Column
    #products_grid_before {
        border-right: 1px solid var(--gray-300);
        padding-right: 0 !important;
        flex: 0 0 260px;
        .o_wsale_products_grid_before_rail {
            padding-right: 0 !important;
        }
        .wsale_products_categories_list {
            padding-right: 1rem;
        }
    }
    #products_grid {
        @include media-breakpoint-up(lg) {
            padding-left: 0;
        }
        flex: 1;
        .products_header {
            padding: 15px 0 15px 15px;
            margin: 0 !important;
            @include media-breakpoint-down(lg) {
                padding-left: 0;
            }
        }

        .o_wsale_filmstip_container {
            padding-left: 15px;
        }
        .o_wsale_products_grid_table_wrapper {
            @include media-breakpoint-up(lg) {
                padding-left: 15px;
                border-top: 1px solid var(--gray-300);
                padding-top: 15px !important;
            }
        }
        
    }

    // Product Card Start

    .oe_website_sale  {
        #products_grid {
            .dropdown-menu {
                --dropdown-border-radius: 0;
            }
            // Default
            --o-wsale-card-border-width: 0;
            --o-wsale-card-border-radius: 0;
            --o-wsale-card-info-padding: 15px 0 0;
            --o-wsale-card-info-grow: null;

            // Custom
            --as-product-card-title: var(--dark);
            --as-product-card-brand: var(--gray-600);
            --as-product-card-desc: var(--body-color);
            --as-product-card-sku: var(--gray-600);
            --as-product-card-border: var(--border-color);

            --as-product-card-fs-lg: 16px;
            --as-product-card-fs-sm: 14px;
            --as-product-card-fs-xs: 12px;
            --as-product-card-fs-xxs: 10px;

            --as-product-card-info-align: left;

            --as-product-card-price-align: left;
            --as-product-card-price-color: var(--primary);

            --as-product-card-info-gap: 0.3rem;
            --as-product-card-sub-gap: 0.3rem;

            // Timer
            --as-product-card-time-align: center;
            --as-product-card-time-color: var(--white);

            // SKU
            --as-product-card-sku-color: var(--gray-600);

            // Color
            --as-product-card-color-gap: 6px;
            --as-product-card-color-align: flex-start;
            --as-product-card-color-size: 35px;
            --as-product-card-color-rounded: 0;
            --as-product-card-color-border: 2px;
            --as-product-card-color-border-color: var(--white);
            --as-product-card-color-border-shadow: 0 0 0 2px var(--gray-300);
            --as-product-card-color-border-shadow-active: 0 0 0 2px var(--primary);

            // Icons
            --as-product-card-icon-gap: 12px;
            --as-product-card-icon-size: 38px;
            --as-product-card-icon-rounded: 0;
            --as-product-card-icon-border: none;
            --as-product-card-icon-bg: var(--dark);
            --as-product-card-icon-color: var(--white);
            --as-product-card-icon-shadow: null;

            --as-product-card-icon-bg-hover: var(--primary);
            --as-product-card-icon-color-hover: var(--white);
        }
    }

    .oe_product {
        .as-product-card-actions {
            position: absolute;
            top: 10px;
            right: 0;
            display: flex;
            flex-direction: column;
            transition: ease all 0.35s;
            opacity: 0;
        }
       


        .as_product_rating {
            line-height: 15px;
            font-size: 11px;
            color: var(--dark);
            
            font-weight: 600;
            background: $white;
            padding: 0;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            opacity: 1;
            position: absolute;
            top: 18px;
            right: 10px;

            a{
                text-decoration: none;
            }
            .fa {
                margin-right: 3px;
                color: $warning;
            }
            ~ .o_wsale_products_item_title,
            ~ .as-product-brand {
                padding-right: 38px;
            }
        }

        .o_wsale_product_sub {
            .o_wsale_product_btn {
                display: flex;
                width: 100%;
                bottom: 100% !important;
                left: 0 !important;
                padding: 7px;
                justify-content: center;
                gap: var(--as-product-card-icon-gap) !important;
                transition: ease all 0.35s;
                @include media-breakpoint-down(lg) {
                    justify-content: flex-start;
                    padding: 7px 0 0;
                }
            }
        }
    

        .as-b2b-price {
            padding: 7px 0 15px;
            display: flex;
            width: 100%;
            a {
                height: 30px;
                display: inline-flex;
                align-items: center;
                background: $white;
                border: 1px solid $gray-300;
                color: $dark;
                padding: 0 12px 0 0px;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                transition: ease all 0.35s;
                @include media-breakpoint-down(md) {
                    padding: 0 5px;
                    font-size: 13px;
                }
                span {
                    padding-left: 8px;
                    @include media-breakpoint-down(md) {
                        padding-left: 0;
                    }
                }
                i {
                    width: 26px;
                    height: 26px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: $gray-300;
                    color: $dark;
                    margin-left: 1px;
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
                &:hover {
                    background: $primary;
                    border-color: $primary;
                    color: $white;
                    i {
                        background: $white;
                        color: $primary;
                    }
                }
            }
        }

        .as-product-stock-message {
            span {
                display: inline-block;
                vertical-align: top;
                padding-top: 5px;
                color: $danger;
                border-bottom: 2px solid rgba($danger, 0.5);
                font-size: 13px;
            }
            p {
                margin: 0;
            }
        }
        .as-product-units-message {
            span {
                display: inline-block;
                padding-top: 5px;
                vertical-align: top;
                color: $warning;
                border-bottom: 2px solid rgba($warning, 0.5);
                font-size: 13px;
            }
            p {
                margin: 0;
            }

        }


        &:hover {
            .as-product-card-actions {
                right: 10px;
                opacity: 1;
            }
        }

    }

    // Product Card End //

    // Product Card List

    #products_grid {
        &.o_wsale_layout_list {
            --as-product-card-time-color: var(--gray-700);
            --as-product-card-sub-gap: 0.5rem;
            
            .o_wsale_design_cards {
                --as-product-card-info-align: left;
                --as-product-card-price-align: flex-start;
                --as-product-card-color-align: flex-start;
                --as-product-card-time-align: flex-start;
            }
            .oe_product {
                --o-wsale-card-thumb-size: calc(250px * var(--o-wsale-card-thumb-aspect-ratio, 1));
                --o-wsale-card-info-grow: null;
                padding-bottom: var(--o-wsale-products-grid-gap);
                border-bottom: 1px solid var(--gray-300);
                --o-wsale-card-padding: 0;

                .as_product_rating {
                    bottom: auto;
                    left: 17px;
                    box-shadow: none;
                    padding: 2px 0 0;
                    right: auto;
                    top: 0;
                    + .as-product-brand {
                        padding-left: 55px;
                    }
                    + .o_wsale_products_item_title {
                        padding-left: 55px;
                    }
                }
                
                
                .as-product-offer-time{
                    display: flex;
                }

                .o_wsale_product_sub {
                    padding-top: 0.3rem;
                    .o_wsale_product_btn {
                        background-color: transparent;
                        padding: 0;
                        justify-content: flex-start;
                        order: 12;
                        --as-product-card-icon-border: 1px solid var(--gray-300);
                    }
                }
            }
        }
    }

    // Product Card List End //

    //  if Not List View
    #products_grid {
        &:not(.o_wsale_layout_list) {
            .oe_product {
                .as-product-offer-time {
                    position: absolute;
                    left: 10px;
                    right: 10px;
                    bottom: calc(100% + 10px);
                    padding: 8px;
                    text-align: center;
                    opacity: 1;
                    margin: 0;
                    width: auto;
                    background: rgba(var(--black-rgb), 0.50);
                    padding: 8px 10px;
                    backdrop-filter: saturate(150%) blur(5px);

                    ul{
                        @media (min-width:1300px) {
                            gap: 8px;
                        }
                        li{
                            span {
                                @media (max-width:1200px) {

                                    @media (min-width:768px) {
                                        font-size: 8px;
                                    }
                                }
                            }
                            label{
                                @media (max-width:1200px) {

                                    @media (min-width:768px) {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                .o_wsale_product_btn {
                    display: flex;
                    width: 100%;
                    padding: 6px 0;
                    @include media-breakpoint-up(lg) {
                        padding: 12px 0;
                        background: rgba($white, 0.7);
                        -webkit-backdrop-filter: saturate(150%) blur(5px);
                        backdrop-filter: saturate(150%) blur(5px);
                        bottom: 100% !important;
                        left: 0 !important;
                        transition: ease all 0.35s;
                        transform: scaleY(0);
                        transform-origin: bottom;
                        opacity: 1 !important;
                        justify-content: center;
                    }
                }

                

                &:hover {
                    .as-product-offer-time {
                        opacity: 0;
                    }
                    .o_wsale_product_btn {
                        @include media-breakpoint-up(lg) {
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }
    }

    // Category

    .products_categories {
        &.accordion {
            > .accordion-item {
                border-bottom: var(--accordion-border-width) solid var(--accordion-border-color);
            }
        }
    }
    .wsale_products_categories_list {
        .nav {
            --nav-link-color:var(--body-color);
            --nav-link-hover-color:var(--primary);
            padding-bottom: 0.9rem;
            > .nav-item {
                margin: 0 0 5px !important;
            }
            a {
                color: inherit;
                position: relative;
                padding-left: 22px !important;
                text-decoration: none !important;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 4px;
                    width: 15px;
                    height: 15px;
                    border: 1px solid var(--gray-300);
                    color: var(--white);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 15px;
                    font-size: 12px;
                    font-family: 'feather' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                &.text-decoration-underline {
                    color: var(--dark);
                    &:before {
                        content: "\e83f";
                        background-color: var(--dark);
                        border-color: var(--dark);
                    } 
                }
            }
            .accordion-header {
                margin: 0 !important;
                position: relative;
                .accordion-button {
                    height: 20px;
                    width: 20px !important;
                    flex: 0 0 20px !important;
                    margin: 0 !important;
                    position: absolute;
                    top: 0;
                    right: 0;
                    &:before {
                        content: "";
                        background-size: 0.9rem;
                        background-position: center;
                        background-image: var(--accordion-btn-icon);
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                        transform: rotate(-90deg);
                    }
                }
            }
            .accordion-collapse {
                padding-left: 20px !important;
                .nav-item {
                    &:first-child {
                        margin-top: 10px !important;
                    }
                    &:last-child {
                        margin-bottom: 10px !important;
                    }
                }
            }
        }
    }


    // Common Checkbox Start
    .o_website_offcanvas,
    #products_grid_before {
        .form-check {
            position: relative;
            padding: 0;
            font-size: 15px;
            .form-check-label {
                padding: 0 8px 0 28px;
                font-weight: 400;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 4px;
                    width: 15px;
                    height: 15px;
                    border: 1px solid var(--gray-300);
                    color: var(--white);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 15px;
                    font-size: 12px;
                    font-family: 'feather' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
            .form-check-input {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
                opacity: 0;
                &:checked {
                    ~ .form-check-label {
                        color: var(--dark);
                        &:after {
                            content: "\e83f";
                            background-color: var(--dark);
                            border-color: var(--dark);
                        }
                    }
                }
            }

        }

        .js_attributes {
            .form-select {
                font-size: 15px;
            }
            .form-check {
                display: flex;
            }
        }

        .as-product-stock {
            padding: 14px 14px 14px 0;
            color: var(--accordion-color);
            font-size: 15px;
            cursor: pointer;
            a {
                text-decoration: none;
                color: var(--dark);
            }
        }
        
    }
    // Common Checkbox End

    /* Topbar
    ------------------------------*/
    #products_grid {
        .btn-toolbar {
            justify-content: inherit !important;

            .o_searchbar_form {
                display: none !important;
            }

            .as-ppg-dropdown {
                display: flex !important;

                label {
                    font-size: 15px;
                    padding: 0 10px;
                    line-height: 45px;
                    border-radius: 0;
                    border: 1px solid var(--gray-300);
                    background: var(--white) !important;
                    display: inline-flex !important;
                    margin: 0 !important;
                    border-right: none;
                }

            }

            .o_sortby_dropdown {
                order: 10;
                margin: 0 !important;

                @include media-breakpoint-up(lg) {
                    display: flex !important;
                    small {
                        font-size: 15px;
                        padding-right: 16px;
                        line-height: 45px;
                        border-radius: 0;
                        background: var(--white) !important;
                        display: inline-flex !important;
                        margin: 0 !important;
                        border-right: none;
                    }
                }
            }

            .o_pricelist_dropdown {
                margin: 0 0 0 auto !important;
                order: 10;
            }

            .dropdown {
                .dropdown-toggle {
                    background: var(--white) !important;
                    border: 1px solid var(--gray-300) !important;
                    font-size: 15px;
                    padding: 0 16px;
                    line-height: 45px;
                    border-radius: 0;

                    &:after {
                        content: "\f107";
                        font-family: FontAwesome;
                        border: 0;
                        vertical-align: top;
                        display: inline-block;
                        margin-left: 0.255em;
                    }
                }

                .dropdown-menu {
                    box-shadow: $box-shadow;
                    font-size: 15px;
                }
            }

            .o_wsale_apply_layout {
                margin: 0 !important;

                .btn {
                    border-radius: 0px;
                    border: 1px solid var(--gray-300) !important;
                    background: var(--white) !important;
                    color: var(--gray-600) !important;
                    z-index: 0;
                    padding: 0;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: none;
                    &.active {
                        border-color: var(--dark) !important;
                        background: var(--dark) !important;
                        color: var(--white) !important;
                    }
                }
            }

            button[data-bs-target="#o_wsale_offcanvas"] {
                border-radius: 0px;
                border: 1px solid var(--gray-300) !important;
                background: var(--white) !important;
                color: var(--gray-600) !important;
                z-index: 0;
                padding: 0;
                width: 45px;
                height: 45px;

                @include media-breakpoint-down(lg) {
                    margin-left: auto !important;
                }
            }
        }
        >  h1 {
            padding: 15px 0 15px 15px;
            margin: 0;
            border-bottom: 1px solid var(--gray-300);
            font-size: 20px;
        }
    }

    /* Catagory Slider
    ------------------------------*/
    #products_grid_before {
        .products_attributes_filters {
            border: none !important;
        }
        #o_wsale_price_range_option {
            .accordion-header {
                .accordion-button {
                    padding: 0.9rem 0.6rem 0.9rem 0px !important;
                    text-transform: uppercase;
                    color: var(--dark);
                    font-size: 0.9rem;
                    --accordion-active-bg: transparent;
                    b {
                        font-weight: 500;
                    }
                   
                }
            }
            #o_wsale_price_range_option_inner {
                padding-right: 0.9rem;
            }
        }
    }

    // Accordion
    .as-shop-accordion-item {
        border: none !important;
        border-bottom: 1px solid var(--gray-300) !important;

        > .as-shop-accordion-button {
            border: none !important;
            margin: 0 !important;

            >.accordion-button {
                padding: 0.9rem 0.6rem 0.9rem 0px !important;
                text-transform: uppercase;
                color: var(--dark);
                font-size: 0.9rem;
                cursor: pointer;
                --accordion-active-bg: transparent;

                b {
                    font-weight: 500;
                }

                .f-arrow {
                    width: 25px;
                    height: 25px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin-left: auto;
                    position: relative;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        background-color: $dark;
                    }

                    &:before {
                        width: 10px;
                        height: 2px;
                    }

                    &:after {
                        width: 2px;
                        height: 10px;
                    }
                }

                &:after {
                    display: none;
                }

                &:not(.collapsed) {
                    .f-arrow {
                        &:after {
                            height: 0;
                        }
                    }
                }
            }
        }

        .accordion-body {
            padding: 0 0.9rem 0.9rem 0px;
        }
    }

    #o_wsale_offcanvas {
        .as-shop-accordion-item {
            > .as-shop-accordion-button {
                >.accordion-button {
                    padding: 0.9rem !important;
                }
            }    
        }
        #o_wsale_offcanvas_categories_header,
        #o_wsale_offcanvas_orderby_header {
            .accordion-button {
                padding: 0.9rem !important;
                text-transform: none;
                color: var(--dark);
                font-size: 1rem;
                --accordion-active-bg: transparent;
            }
            .accordion-body {
                --accordion-body-padding-x: 0.9rem;
            }
        }

    
        .as-shop-accordion-item {
            .accordion-body {
                padding: 0rem 0.9rem 0.9rem;
            }
        }

        #o_wsale_price_range_option {
            border: none !important;
            padding: 0 !important;
            border-top: 1px solid var(--gray-300) !important;
            .accordion-button {
                padding: 0.9rem !important;
                text-transform: uppercase;
                color: var(--dark);
                font-size: 0.9rem;
                --accordion-active-bg: transparent;
                b {
                    font-weight: 500;
                }
            }
            #o_wsale_price_range_option_inner {
                padding: 0rem 0.9rem 0.9rem;
            }
        }
        .as-product-stock {
            padding: 0.9rem;
        }
    }



    #products_grid {
        .o_wsale_filmstip_container {
            margin: 0 !important;
            padding: 0 !important;
        }
        .o_wsale_filmstip_wrapper {
            border-bottom: 1px solid $gray-300;
            padding-top: 15px;
            padding-left: 15px;
            padding-bottom: 18px !important;
            margin: 0 !important;
            
            .as-filmstip-cat {
                cursor: pointer;
                margin-top: inherit !important;
                display: flex;
                flex-direction: column;
                span {
                    width: 100%;
                    text-align: center;
                    display: inline-block;
                    vertical-align: top;
                    text-transform: uppercase;
                    font-size: 13px;
                    color: $black;
                    letter-spacing: 2px;
                    padding: 10px 0 0;
                    margin-top: auto;
                }
                .o_image_40_cover {
                    ~ span {
                        margin-top: inherit;
                    }
                }
            }
        }
    }



    // Search
    .as-aside-attr-search {
        position: relative;
        margin-bottom: 15px;
        .fa {
            position: absolute;
            top: 0;
            left: 10px;
            font-size: 12px;
            bottom: 0;
            height: 12px;
            margin: auto;
            color: $black !important;
        }
        .form-control {
            font-size: 14px;
            height: calc(1.5em + 0.75rem + 2px);
            border-radius: 0;
            border: 1px solid $black;
            padding-left: 35px;

        }
    }

    // Brand List
    .as-aside-brand-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -3px;
        margin-right: -3px;
        label {
            position: relative;
            flex: 0 0 calc(33.33333% - 6px);
            border: 1px solid $gray-300;
            margin: 3px;
            cursor: pointer;
            &.active {
                border: 1px solid $primary;
            }
            &:after {
                content: "";
                padding-bottom: 100%;
                display: inline-block;
                vertical-align: top;
            }
            img {
                width: 95%;
                height: 95%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                object-fit: contain;
                margin: auto;
            }
            input[type="checkbox"] {
                opacity: 0;
            }
        }
    }

    // Star List
    .as-aside-star-list {
        label {
            font-weight: normal;
        }
        .as_rating_attr {
            padding-left: 8px;
            > span {
                padding-right: 5px;
            }
            .fa {
                color: $warning;
                &:before {
                    content: "\f005";
                }
                ~ .fa {
                    display: none;
                }
            }
        }
    }


}